.footer {
    display: flex;
    position: fixed;
    padding: 5px;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 25px;
    color: coral;
    font-weight: bold;
    text-shadow: 0px 0px 20px #ffffff;
    font-size: 14px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background: #545454;
    border: 1px solid #7a7a5f;
}

.btn-footer-created-by {
    margin: 10px 10px 0px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: coral -3px 2px 10px;
    text-decoration: none;
    letter-spacing: 0.2mm;
}

.btn-footer-created-by:hover {
    cursor: pointer;
    color: #000000;
    text-shadow: #ffffff 0px 0px 10px;
    text-decoration: none;
}

.footer p {
    margin: 10px 10px 10px 10px;
    text-shadow: #000000 -3px 2px 10px;
}

.btn-footer {
    margin: 10px 10px 10px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #000000 -8px 2px 10px;
    text-decoration: none;
}

.btn-footer:hover {
    cursor: pointer;
    color: #000000;
    text-shadow: #ffffff 0px 0px 10px;
    text-decoration: none;
}

.to-top {
    color: coral;
    z-index: 99;
    font-size: 51px;
    background: #545454e0;
    border: solid #7a7a5f;
    padding: 8px;
    border-radius: 10px;
    position: fixed;
    bottom: 6.8%;
    right: 4%;
}

.to-top:active {
    color: white;
}

.to-top:hover {
    cursor: pointer;
    text-shadow: 0px 0px 20px white;
    border-radius: 15px;
    transition: 0.1s;
}

.to-top:not(:hover) {
    transition: 0.1s;
}

@media screen and (max-width:678px) {

    .footer {
        display: flex;
        position: fixed;
        bottom: 0;
        gap: 7px;
        width: 100%;
        text-align: center;
        color: coral;
        font-weight: bold;
        text-shadow: 0px 0px 20px #ffffff;
        font-size: 14px;
        background: #545454;
        border: 1px solid #7a7a5f;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer p {
        text-shadow: #000000 -3px 2px 10px;
        font-size: 0.7rem;
        line-height: 1;
        width: max-content;
        margin: 1px;
        letter-spacing: 0.1mm;
    }

    .btn-footer-created-by {
        font-size: 0.7rem;
        font-weight: bold;
        color: #ffffff;
        text-shadow: coral -3px 2px 10px;
        text-decoration: none;
        line-height: 1;
        margin: unset;
    }

    .btn-footer {
        font-size: 0.7rem;
        font-weight: bold;
        color: #ffffff;
        text-shadow: #000000 -8px 2px 10px;
        text-decoration: none;
        line-height: 1;
        margin: unset;
    }

    .to-top {
        color: coral;
        z-index: 99;
        font-size: 2rem;
        background: #545454e0;
        border: 1px solid #7a7a5f;
        padding: 3px;
        border-radius: 10px;
        position: fixed;
        bottom: 7.5rem;
        right: 2rem;
    }
}