.profile-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    padding: 10px;
    width: 100%;
    margin: 90px auto;
    border: 2px solid #bd5934;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    background: #000000bd;
    position: relative;
    backdrop-filter: blur(5px);
}

.main-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.profile-name {
    margin-top: 20px;
    font-size: 1.5em;
    text-decoration: none;
    white-space: pre-wrap;
    word-break: break-word;
    color: #c55b5b;
}

.profile-name:hover {
    transition: 0.1s;
    text-decoration: underline;
    text-shadow: 0px 0px 20px coral, 0px 0px 20px rgb(255, 255, 255);
}

.profile-name>p {
    font-size: 1.4em;
    color: white;
    background: rgba(0, 0, 0, 0.89);
    padding: 10px;
    width: fit-content;
    max-width: inherit;
    border: 1px solid #b15403a1;
    border-radius: 10px;
    text-decoration: none;
    word-break: break-word;
    display: inline-block;
}


.player-avatar {
    width: 230px;
    height: 200px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.player-avatar:hover {
    transition: 0.1s;
    border-radius: 20px;
    border: solid #c55b5b;
}

.player-avatar:not(:hover) {
    transition: 0.1s;
}

.profile-container p {
    text-align: left;
    margin: auto;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px auto;
    gap: 15px;
    justify-content: center;
    width: 50%;
}

section {
    border: 1px solid #7a7a5f;
    border-radius: 10px;
    display: inline-block;
    height: fit-content;
    height: -moz-fit-content;
    padding: 10px;
    position: relative;
    z-index: 0;
}

article {
    margin: 15px auto;
}

.video-button {
    color: coral;
    background: black;
    font-size: 1.3em;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
    border: solid 2px #838383;
    margin: 10px;
}

.video-button:hover {
    color: rgb(255, 0, 0);
    box-shadow: 0px 0px 20px rgb(255, 0, 0), 0px 0px 20px black;
    cursor: pointer;
    transition: 0.1s;
    transform-style: preserve-3d;
}

.video-button:not(:hover) {
    transition: 0.1s;
    transform: scale3d(1, 1, 1);
}

hr {
    border: solid #616161;
    height: 5px;
    border-radius: 10px;
    width: 100%;
}

.profile-container .title-paragraph {
    margin: 15px auto;
    text-align: center;
    font-size: 1.6em;
}

.profile-container .title-paragraph>b {
    color: white;
    font-size: 1em;
}

table {
    background-color: transparent;
    border-radius: 10px;
    margin-bottom: 15px;
    z-index: 100;
}

th {
    background-color: #818181;
}

th,
td {
    width: 100%;
    height: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
}


.stats-td {
    text-align: left;
    line-height: 9mm;
    font-weight: bold;
    font-size: 1em;
    color: rgb(216, 122, 0);
}

.name-td {
    text-align: left;
    line-height: 9mm;
    font-weight: bold;
    font-size: 1em;
    color: #ffffff;
}

.buttons-container {
    position: absolute;
    top: 23rem;
}

.raid-report {
    background: #5454548f;
    border: 1px solid #7a7a5f;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 650;
    letter-spacing: 1px;
    margin: 5px;
    padding: 8px;
    text-decoration: none;
    text-shadow: -1px 2px 1px #000;
    transition: all ease-in-out 300ms;
}

.raid-report:hover {
    box-shadow: 0 0 20px #fff;
    cursor: pointer;
    transition: .1s;
    background: #00000052;
    text-shadow: -1px 2px 1px black;
}

.raid-report:active {
    color: white;
}


.black-r,
.black-pve,
.black-pvp,
.black-wep {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.black-r:before,
.black-pve:before,
.black-pvp:before,
.black-wep:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: #000000ab;
}

.black-r {
    background-image: url("../../backgrounds/destiny2-bgs-clan-bulgaria-raid-wallpaper.jpeg");
}

.black-pve {
    background-image: url("../../backgrounds/destiny2-bgs-clan-bulgaria-pve-wallpaper.webp");
}

.black-pvp {
    background-image: url("../../backgrounds/destiny2-bgs-clan-bulgaria-pvp-background.jpg");
}

.black-wep {
    background-image: url("../../backgrounds/destiny2-bgs-clan-bulgaria-pvp-weapons-background.jpeg");
}


@media screen and (max-width:678px) {
    .profile-container {
        display: flex;
        justify-content: center;
        border: 2px solid #bd5934;
        border-radius: 10px;
        background: #000000bd;
        position: relative;
        flex-direction: row;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        backdrop-filter: blur(5px);
    }

    .profile-name {
        font-size: 1.3rem;
    }

    .profile-container p {
        margin: 10px auto;
    }

    .profile-container .title-paragraph {
        margin: 15px auto;
        text-align: center;
        font-size: 1.6rem;
    }

    .profile-container .title-paragraph>b {
        color: white;
        font-size: 0.7em;
    }

    .buttons-container {
        position: absolute;
        top: 24rem;
        display: flex;
        gap: 5px;
        align-items: center;
        margin: auto 5px;
    }

    .video-button {
        color: coral;
        background: black;
        font-size: 0.8rem;
        border-radius: 10px;
        padding: 4px;
        text-decoration: none;
        border: solid 2px #838383;
        margin: unset;
    }

    .raid-report {
        text-shadow: -1px 2px 1px black;
        font-size: 0.8rem;
        background: #545454;
        border: solid #7a7a5f;
        padding: 4px;
        margin: unset;
        border-radius: 10px;
        font-weight: 650;
        text-decoration: none;
        letter-spacing: 0.3px;
        text-align: center;
        line-height: 1;
    }

    .section-container {
        display: flex;
        width: 100%;
        font-size: 0.75rem;
        flex-direction: column;
        align-items: center;
    }

    section {
        display: inline-block;
        margin: 10px auto;
        border: 3px solid #7a7a5f;
        padding: 10px;
        border-radius: 10px;
        background-color: #4b4b47;
        height: -moz-fit-content;
        width: 100%;
        z-index: 0;
    }

    table {
        display: flex;
        background-color: transparent;
        border-radius: 10px;
        margin-bottom: 15px;
        width: 100%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    thead {
        text-align: left;
        width: 100%;
        justify-content: center;
    }

    th>h3 {
        word-break: break-word;
        white-space: pre-wrap;
        width: 500px;
        font-size: 18px;
        text-shadow: -1px 2px 1px black;
        line-height: 1;
        width: 100%;
    }

    .stats-td {
        text-align: left;
        line-height: 1;
        font-weight: bold;
        font-size: 0.8rem;
        color: rgb(216, 122, 0);
    }

    .name-td {
        text-align: left;
        font-weight: bold;
        font-size: 0.8rem;
        color: #ffffff;
        line-height: 1;
    }

}