.clan-member-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.home-container {
    background-color: #000000ce;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 95%;
    margin: 80px auto;
    border-radius: 10px;
    border: 1px solid coral;
}

.clan-member-element {
    display: flex;
    background: #00000080;
    border-radius: 5px;
    margin: 15px;
    width: 300px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.clan-member-element:hover {
    transform: translate3d(-7px, -10px, 0px);
    transition: 0.2s;
    border-radius: 15px;
    box-shadow: 0px 0px 8px #000000, 0px 0px 15px 0px #fd8700;
    transform-style: preserve-3d;
}

.clan-member-element:not(:hover) {
    transform: scale3d(1, 1, 1);
    transition: 0.2s;
    border-radius: 5px;
}

.info-container {
    display: flex;
    background: rgba(84, 84, 84, 0.5);
    border: 2px solid #ffffff75;
    border-radius: 5px;
    margin: 0px 15px;
    place-content: center;
    width: inherit;
    flex-wrap: wrap;
    padding: 5px;
}

.info-container p {
    padding-left: 5px;
    margin: 1px;
}

.reports-container {
    display: flex;
    background: #54545480;
    border: solid #7a7a5f;
    border-radius: 5px;
    border-top: none;
    margin: 0px, 15px;
    width: 300px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.player-name {
    margin-top: 25px;
    font-size: 1.2em;
    text-decoration: none;
    white-space: pre-wrap;
    word-break: break-word;
    color: #c55b5b;
}

.player-name:hover {
    transition: 0.1s;
    text-decoration: underline;
    text-shadow: 0px, 0px, 20px white;
}

.showMembers {
    font-size: 1.4em;
    background: #545454;
    border: solid #7a7a5f;
    padding: 8px;
    border-radius: 10px;
    position: fixed;
    bottom: 6.8%;
    right: 10%;
    z-index: 10;
}

.showMembers:hover {
    cursor: pointer;
    color: antiquewhite;
    text-shadow: 0px 0px 20px white;
    border-radius: 15px;
    transition: 0.1s;
}

.showMembers:active {
    color: white;
}

.showMembers:not(:hover) {
    transition: 0.1s;
}

.player-avatar {
    width: 230px;
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.player-avatar:hover {
    transition: 0.1s;
    border-radius: 20px;
    border: solid #c55b5b;
}

.player-avatar:not(:hover) {
    transition: 0.1s;
}

.clan-info {
    font-size: 1.1em;
    color: white;
    margin: 10px auto;
    background: rgba(0, 0, 0, 0.808);
    padding: 10px;
    text-align: -webkit-center;
    width: -moz-fit-content;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ff7800a1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    overflow: auto;
    white-space: pre-wrap;
}

.clan-member-sign {
    background-image: linear-gradient(179deg, #c55b5b, #000000);
    font-size: 1.7em;
    border: solid #7a7a5f;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 0px 20px white;
    margin: 10px auto;
    width: fit-content;
}

.clan-member-search-sign {
    background-image: linear-gradient(179deg, #998f8f, #000000);
    font-size: 1.3em;
    border: solid #7a7a5f;
    padding: 8px;
    border-radius: 10px;
    z-index: 10;
    color: #ffffff;
    text-shadow: 0px 0px 20px white;
    margin: 10px auto;
    width: fit-content;
}

.input-field {
    background: none;
    outline: none;
    border: none;
    color: #DECBA4;
    font-size: 1em;
    width: 50%;
    display: inline-block;
    border-bottom: solid rgb(117, 117, 117);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0 4px 4px 4px;
    margin: 15px auto;
    resize: none;
}

form.search {
    width: 450px;
    font-size: 1.2em;
    display: flex;
    margin: 20px auto;
    border-radius: 8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.input-field:focus {
    color: #ffffff;
    width: 60%;
    transition: 0.5s;
    border: none;
    outline: none;
    border-bottom: white solid;
    background: none;
    background-image: none;
}

.input-field:not(:focus) {
    transition: 0.5s;
}

.raid-report {
    font-size: 1em;
    background: #545454;
    border: solid #7a7a5f;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
    font-weight: 650;
    text-decoration: none;
    letter-spacing: 1px;
}

.raid-report:hover {
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 20px white;
    border-radius: 15px;
    transition: 0.1s;
    text-decoration: underline;
}

.raid-report:active {
    color: white;
}

.raid-report:not(:hover) {
    transition: 0.1s;
}

.head-2 {
    font-size: 1.5em;
    color: white;
    margin: auto 15px;
    padding: 10px;
    text-decoration: underline;
}

.welcome-h1 {
    font-size: 1.5em;
    color: white;
    margin: auto;
    background: rgba(0, 0, 0, 0.808);
    padding: 10px;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 600px;
    border: 1px solid #b15403a1;
    border-radius: 10px;
}

.welcome-h1>p {
    font-size: 0.7em;
}

.clan-info>h4 {
    text-transform: uppercase;
}