html {
    box-sizing: border-box;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'Ubuntu', sans-serif;
}

* {
    scrollbar-width: 0.5px;
    scrollbar-color: #132f5b00 #460b0b00;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 0.5px;
}

*::-webkit-scrollbar-track {
    background: #132f5b00;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 61, 153, 0);
    border-radius: 6px;
    border: 0px none #ffffff00;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
        overflow-x: hidden;
        overflow-y: scroll;
        min-width: 320px;
    }
}


h1,
h2,
h3,
h4,
h5,
p,
article {
    word-break: break-word;
    white-space: pre-wrap;
    width: 500px;
    font-size: 18px;
    text-shadow: -1px 2px 1px black;
}


a {
    color: antiquewhite;
}


img {
    max-width: 500px;
}

.newsButton {
    font-size: 25px;
    background: #545454e0;
    border: solid #7a7a5f;
    padding: 8px;
    border-radius: 10px;
    position: fixed;
    bottom: 2.8%;
    right: 40%
}

.newsButton:hover {
    cursor: pointer;
    text-shadow: 0px 0px 20px white;
    border-radius: 15px;
    transition: 0.1s;
}

.newsButton:active {
    color: white;
}

.newsButton:not(:hover) {
    transition: 0.1s;
}

.newsContainer h1 {
    color: antiquewhite;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
    font-size: 32px;
}

.newsContainer {
    color: antiquewhite;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-height: 100%;
    overflow-y: scroll;
    position: fixed;
    right: 10%;
    width: 560px;
    resize: both;
    margin: 5% 0px;
    background: #0000007d;
}

.homeContainer {
    /* word-break: break-word; */
    /* white-space: pre-wrap; */
    background-color: #000000ce;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 25px;
}

.news-element {
    margin: 20px;
    width: 300px;
}

.app {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:320px) and (max-width:1501px) {
    html {
        box-sizing: border-box;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-attachment: fixed;
    }

    .app {
        position: fixed;
        overflow-y: scroll;
    }
}