* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
        /* overflow-x: hidden;
        overflow-y: scroll; */
        overflow-y: overlay;
        overflow-x: overlay;
        font-family: 'Open Sans', sans-serif;
    }
}

h1,
h2,
h3,
h4,
h5,
p,
article {
    word-break: break-word;
    white-space: pre-wrap;
    width: 500px;
    font-size: 18px;
}


a {
    color: antiquewhite;
}


img {
    max-width: 500px;
    margin: 5px auto;
}

.newsButton {
    font-size: 25px;
    background: #545454e0;
    border: solid #7a7a5f;
    padding: 5px;
    border-radius: 10px;
}

.newsButton:hover {
    cursor: pointer;
}

.newsContainer {
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 50%;
}

.homeContainer {
    word-break: break-word;
    white-space: pre-wrap;
    width: 50%;
    background-color: #000000ce;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}