.link-container {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    gap: 20px;
    justify-content: center;
    margin-left: 3.5em;
    margin-top: 20px;
    margin-bottom: 30px;
    width: fit-content;
}

.showLinks {
    font-size: 25px;
    background: #545454;
    border: solid #7a7a5f;
    padding: 8px;
    border-radius: 10px;
    position: fixed;
    bottom: 2.8%;
    right: 10%;
    z-index: 10;
}

.showLinks:hover {
    cursor: pointer;
    color: antiquewhite;
    text-shadow: 0px 0px 20px white;
    border-radius: 15px;
    transition: 0.1s;
}

.showLinks:active {
    color: white;
}

.showLinks:not(:hover) {
    transition: 0.1s;
}

.more-links {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    margin: 10px;
    gap: 10px;
    position: fixed;
    top: 16.9%;
    right: 17%;
}

.other-link {
    background-image: linear-gradient(179deg, #998f8f, #000000);
    font-size: 22.5px;
    border: solid #7a7a5f;
    padding: 8px;
    border-radius: 10px;
    color: #ffffff;
    text-shadow: 0px 0px 20px white;
    text-decoration: none;
    width: -webkit-fill-available;
}

.other-link:hover {
    background-image: linear-gradient(179deg, #000000, #998f8f);
    font-size: 22.5px;
    border: solid #8f1100;
    padding: 8px;
    border-radius: 10px;
    z-index: 10;
    color: #ffffff;
    text-shadow: 0px 0px 20px white;
    text-decoration: underline;
}