.menu,
.submenu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu {
    position: fixed;
    top: 2%;
    width: 100%;
    left: 32%;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    z-index: 11;
}

.menu>li {
    border: coral solid;
    background: #000000ce;
    float: left;
    position: relative;
    transform: skewX(25deg);
}

.menu a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Arial, Helvetica;
    font-size: 1em;
}

.menu li:hover {
    background: #e74c3c;
    cursor: pointer;
}

.menu>li>a {
    transform: skewX(-25deg);
    padding: 1em 2em;
}

/* Dropdown */
.submenu {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    transform: skewX(-25deg);
    transform-origin: left top;
}

.submenu li {
    background-color: #34495e;
    position: relative;
    overflow: hidden;
}

.submenu>li>a {
    padding: 1em 2em;
}

.submenu>li::after {
    content: '';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, .9);
}

.submenu>li:nth-child(odd) {
    transform: skewX(-25deg) translateX(0);
}

.submenu>li:nth-child(odd)>a {
    transform: skewX(25deg);
}

.submenu>li:nth-child(odd)::after {
    right: -50%;
    transform: skewX(-25deg) rotate(3deg);
}

.submenu>li:nth-child(even) {
    transform: skewX(25deg) translateX(0);
}

.submenu>li:nth-child(even)>a {
    transform: skewX(-25deg);
}

.submenu>li:nth-child(even)::after {
    left: -50%;
    transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.submenu,
.submenu li {
    opacity: 0;
    visibility: hidden;
}

.submenu li {
    transition: .2s ease transform;
}

.menu>li:hover .submenu,
.menu>li:hover .submenu li {
    opacity: 1;
    visibility: visible;
}

.menu>li:hover .submenu li:nth-child(even) {
    transform: skewX(25deg) translateX(15px);
}

.menu>li:hover .submenu li:nth-child(odd) {
    transform: skewX(-25deg) translateX(-15px);
}

.rotate-arrow-1 {
    transition: 300ms;
    color: white;
    transition: 0.2s;
    font-size: 1em;
}

.rotate-arrow:hover .rotate-arrow-1 {
    transform: rotate(90deg);

    color: rgb(0, 0, 0);
}

.menu>li:hover,
.menu>li:hover .nav-icon,
.menu>li>.hidden-nav-icon:hover {
    color: black;
    transition: 0.1s;
}

.menu>li:hover .rotate-arrow {
    color: rgb(255, 255, 255);
    transition: 0.1s;
}

.hidden-li:hover .hidden-nav-icon {
    color: black;
    transition: 0.1s;
}

@media screen and (max-width:678px) {

    .menu {
        display: flex;
        line-height: 1;
        position: fixed;
        gap: 3px;
        top: 2%;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100%;
        z-index: 11;
        flex-direction: row;
        justify-content: center;
    }

    .menu>li>a {
        transform: none;
        font-size: 0.8rem;
        padding: 0.05px;
        text-align: center;
        line-height: 1;
    }

    .menu>li {
        border: 2px coral solid;
        background: #000000ce;
        float: left;
        position: relative;
        transform: none;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 2px;
    }

    .submenu {
        position: absolute;
        width: 107px;
        left: unset;
        margin-top: 5px;
        margin-left: -60px;
        transform: none;
        transform-origin: 0;
    }

    .submenu li {
        background-color: #34495e;
        position: relative;
        overflow: hidden;
    }

    li:not(:last-child) {
        margin-bottom: 5px;
    }

    .submenu>li>a {
        padding: 1em 2em;
    }

    .submenu>li::after {
        content: '';
        position: absolute;
        top: -125%;
        height: 100%;
        width: 100%;
        box-shadow: 0 0 50px rgba(0, 0, 0, .9);
    }

    .submenu>li:nth-child(odd) {
        transform: none;
    }

    .submenu>li:nth-child(odd)>a {
        transform: none;
    }

    .submenu>li:nth-child(even) {
        transform: none;
    }

    .submenu>li:nth-child(even)>a {
        transform: none;
    }

    .menu>li:hover .submenu li:nth-child(even) {
        transform: none;
    }

    .menu>li:hover .submenu li:nth-child(odd) {
        transform: none;
    }
}