.all-videos-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 90px;
}

.all-buttons-container {
    display: flex;
    flex-direction: row;
    width: 92%;
    max-height: 40em;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    padding: 30px;
    margin: 140px 45px;
    border-left: 2px #ff2a2a solid;
    border-right: 2px #ff2a2a solid;
    float: left;
    align-content: center;
    justify-content: center;
    overflow-x: auto;
}

.single-video-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background-color: #00000044;
    height: 840px;
    width: 1489px;
    resize: both;
    overflow: auto;
}


.video-button {
    color: coral;
    background: black;
    font-size: 25px;
    border-radius: 10px;
    padding: 8px;
    text-decoration: none;
    border: solid 2px #838383;
    margin: 10px;
}

.video-button-button {
    background: none;
    border: none;
}

.video-button:hover {
    color: rgb(255, 0, 0);
    box-shadow: 0px 0px 20px rgb(255, 0, 0), 0px 0px 20px black;
    cursor: pointer;
    transition: 0.1s;
    transform-style: preserve-3d;
}

.video-button:not(:hover) {
    transition: 0.1s;
    transform: scale3d(1, 1, 1);
}

iframe {
    width: 100%;
    height: 100%;
    resize: both;
    overflow: auto;
}

.main-header {
    width: fit-content;
    text-align: center;
    box-shadow: 0px 0px 20px coral, 0px 0px 20px black;
    margin: 20px auto;
    background-color: black;
}

.video-search-sign {
    background-image: linear-gradient(179deg, #998f8f, #000000);
    font-size: 22.5px;
    border: solid #7a7a5f;
    padding: 7px;
    border-radius: 10px;
    z-index: 10;
    color: #ffffff;
    text-shadow: 0px 0px 20px white;
    margin: 15px auto;
}

form.search {
    width: 450px;
    font-size: 20px;
    display: flex;
    margin: 20px auto;
    border-radius: 8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.input-field {
    background: none;
    outline: none;
    border: none;
    color: coral;
    font-size: 22.5px;
    font-weight: 500;
    width: 50%;
    display: inline-block;
    border-bottom: solid rgb(117, 117, 117);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    background-color: #000000;
}


.input-field:focus {
    color: whitesmoke;
    width: 60%;
    transition: 0.5s;
    border: none;
    outline: none;
    border-bottom: white solid;
    background: none;
    background-image: none;
    background-color: #000000;
}

.input-field:not(:focus) {
    transition: 0.5s;
    background-color: #000000;
}